.ModalDecisionSuppliesComponent {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5000;
}

.ModalDecisionSuppliesComponent__container {
  position: relative;
  top: 5%;
  background-color: #ffffff;
  padding: 1rem;
  width: 600px;
  height: 91%;
  border-radius: 10px;
}

.ModalDecisionSuppliesComponent__close-button {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background-color: #f5f5f5;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.ModalDecisionSuppliesComponent__close-button:hover {
  background-color: red;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

.ModalDecisionSuppliesComponent__close-button:focus {
  background-color: red;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

/*MODAL:*/

.containerDecisionSupplies_table {
  width: 90%;
  background: white;
  margin: 0 auto;
  margin-top: 2%;
  box-shadow: 4px 0px 15px rgb(192, 188, 188);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-y: scroll;
  max-height: 77%;
}

.containerDecisionSupplies_table::-webkit-scrollbar {
  width: 8px;
  background: #daf7ee;
  border-radius: 0 8px 8px 0;
}

.containerDecisionSupplies_table::-webkit-scrollbar-thumb {
  background: #daf7ee;
  border-radius: 0 3px 3px 0;
}

.tableDecisionSupplies_title {
  grid-column-start: 1;
  grid-column-end: 3;
  height: 38px;
  background: #daf7ee;
  color: #1da597;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 1.2em;
}

.tableDecisionSupplies_header,
.tableDecisionSupplies_item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableDecisionSupplies_header {
  font-weight: 500;
  font-size: 1em;
  color: #1da597;
  font-family: 'Ubuntu', sans-serif;
  border: 2px solid #daf7ee;
  border-style: hidden hidden solid hidden;
}

.itemsDecisionSupplies_container {
  grid-column-start: 1;
  grid-column-end: 3;
  border: 2px solid #daf7ee;
  border-style: hidden hidden solid hidden;
}

.sub_itemsDecisionSupplies_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.sub_sub_itemsDecisionSupplies_container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.tableDecisionSupplies_item {
  padding: 10px;
  font-size: 0.9em;
  font-family: 'Ubuntu', sans-serif;
  color: #374663;
}

.tableDecisionSupplies_img {
  width: 100px;
  height: 100px;
}

.DecisionButtonsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.DecisionButtonsContainer__accept {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.85rem;
  height: 20%;
  background-color: #d1e7dd;
  border: 1px solid #0f5132;
  color: #0f5132;
}

.DecisionButtonsContainer__accept:hover {
  background-color: #009751;
  color: white;
}

.DecisionButtonsContainer__accept:focus {
  outline: none;
}

.DecisionButtonsContainer__reject {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.85rem;
  height: 20%;
  background-color: #f8d7da;
  border: 1px solid #842029;
  color: #842029;
}

.DecisionButtonsContainer__reject:hover {
  background-color: rgb(253, 76, 76);
  color: white;
}

.DecisionButtonsContainer__reject:focus {
  outline: none;
}
