.container_table-bodega {
  grid-area: modal;
  width: 85%;
  background: white;
  margin: 0 auto;
  margin-top: 2%;
  box-shadow: 4px 0px 15px rgb(192, 188, 188);
  grid-template-columns: repeat(2, 50%);
  height: 400px;
}

.container-bodega-top {
  display: flex;
}

.ModalWarehouseComponent__close-button {
  top: 2px;
  right: 0;
  border: 0;
  background-color: #d8d8d8;
  padding: 0.5rem 1rem;
}

.ModalWarehouseComponent__close-button:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

.ModalWarehouseComponent__close-button:focus {
  background-color: red;
  color: white;
  cursor: pointer;
  outline: none;
}

.table_title-bodega {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 94%;
  height: 38px;
  background: #daf7ee;
  color: #1da597;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 1.2em;
}

.search-warehouse-container {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  height: 40px;
  background-color: #fae5dd;
}

.search-filter-design-warehouse {
  padding-left: 2%;
  height: 40px;
  background: #fae5dd;
  border: 2px solid #daf7ee;
  border: 0;
  color: #404040;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  width: 100%;
}

.search-filter-design-warehouse:focus {
  outline: none;
  border-right: 0;
  border-left: 0;
}

.table-header-container-warehouse {
  display: flex;
}

.table_header-bodega,
.table_item-bodega {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table_header-bodega {
  font-weight: 500;
  font-size: 1em;
  width: 100%;
  color: #1da597;
  font-family: 'Ubuntu', sans-serif;
  border: 2px solid #daf7ee;
  border-style: hidden hidden solid hidden;
}

.scroll-modal-inventory {
  max-height: 285px;
  overflow-y: hidden;
  overflow-y: scroll;
}

.scroll-modal-inventory::-webkit-scrollbar {
  width: 8px;
  background: #daf7ee;
  border-radius: 0 8px 8px 0;
}

.scroll-modal-inventory::-webkit-scrollbar-thumb {
  background: #daf7ee;
  border-radius: 0 3px 3px 0;
}

.table_item-bodega {
  padding: 10px;
  font-size: 0.9em;
  font-family: 'Ubuntu', sans-serif;
  color: #374663;
}

.table_img-bodega {
  width: 100px;
  height: 100px;
}

.items_container-bodega {
  grid-column-start: 1;
  grid-column-end: 3;
  border: 2px solid #daf7ee;
  border-style: hidden hidden solid hidden;
}

.sub_items_container-bodega {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.sub_sub_items_container-bodega {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.notFoundImgWarehouse {
  margin-left: 17%;
}

/*RESPONSIVE*/

@media (min-height: 800px) {
  .container_table-bodega {
    height: 460px;
  }

  .scroll-modal-inventory {
    max-height: 350px;
  }

  .table_title-bodega {
    width: 95.5%;
  }
}

@media (min-height: 1400px) {
  .container_table-bodega {
    height: 630px;
  }

  .scroll-modal-inventory {
    max-height: 515px;
  }
}
