.general-container-design {
  width: 92vw;
  margin-left: 3px;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 91vh;
}

.general-container-design__h2 {
  font-size: 1.1rem;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: normal;
  color: #374663;
  margin: 20px 0px 0px 37px;
}

.general-container-design__p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.85rem;
  color: #9ba9af;
  margin: 12px 0px 0px 37px;
}

.switch-design-container {
  width: 95%;
  background-color: white;
  box-shadow: 4px 0px 15px rgb(235, 235, 235);
  margin: 0 auto;
  margin-top: 1%;
  height: 50px;
}

.switch-design-container button {
  width: 20%;
  height: 27px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8rem;
  padding: 0 auto;
  margin-left: 19%;
  padding-top: -0.7%;
}

.switch-design-container button:focus {
  outline: none;
}

.ingreso-referencia-container {
  display: flex;
}

.design-form {
  width: 36%;
  height: 400px;
  background-color: white;
  margin: 15px 0px 0px 37px;
  box-shadow: 4px 0px 15px rgb(235, 235, 235);
  border: 1px solid transparent;
}

.design-form h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.9rem;
  color: #374663;
  margin-left: 30%;
  margin-top: 3%;
}

.border-design-div {
  border-bottom: 1.5px solid #374663;
  width: 90%;
  margin: 0px auto;
  margin-bottom: 4%;
}

.design-form input {
  display: flex;
  margin: 0px auto;
  margin-bottom: 4%;
  width: 90%;
  height: 7%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.75rem;
  padding-left: 3%;
  border: 1px solid #9ba9af;
  color: #9ba9af;
}

.design-form input:focus {
  outline: none;
}

.dropdownDesign {
  width: 90%;
  margin: 0 auto;
}

.option-design {
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8rem;
}

.design-form button {
  width: 90%;
  margin-left: 5%;
  height: 7%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8rem;
  margin-top: 1%;
}

.design-form button:focus {
  outline: none;
}

.design-form #insumoBTN {
  margin-top: -30%;
}

.design-form #saveBTN {
  background-color: #0ebf87;
  color: white;
  border: 1px solid #007c55;
}

.design-form #saveBTN:hover {
  background-color: rgb(122, 255, 193);
  color: black;
}

.design-form #saveBTN:focus {
  outline: none;
}

.design-form__information {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.7rem;
  width: 90%;
  margin-left: 5%;
  margin-top: -2%;
  margin-bottom: 2%;
}

.insumosAgregados {
  margin-top: 1.2%;
  height: 470px;
  width: 55%;
  margin-left: 3%;
  background-color: transparent;
}

.insumo-add {
  display: flex;
  background-color: white;
  box-shadow: 4px 0px 15px rgb(235, 235, 235);
  height: 7%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.91rem;
  color: #6c818a;
  font-weight: 400;
  padding-left: 27%;
  padding-top: 0.6%;
  margin-bottom: 3%;
  word-spacing: 0.5rem;
}

.insumo-add h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  color: #1da597;
  font-weight: 500;
  margin-right: 5%;
  margin-top: 0.4%;
}
