.general-container-design {
  width: 93vw;
  margin-left: 3px;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 91vh;
}

.general-container-design__h2 {
  font-size: 1.1rem;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: normal;
  color: #374663;
  margin: 20px 0px 0px 37px;
}

.general-container-design__p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.85rem;
  color: #9ba9af;
  margin: 12px 0px 0px 37px;
}

.switch-design-container {
  width: 95%;
  background-color: white;
  box-shadow: 4px 0px 15px rgb(235, 235, 235);
  margin: 0 auto;
  margin-top: 1%;
  height: 50px;
}

.switch-design-container button {
  width: 20%;
  height: 27px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8rem;
  padding: 0 auto;
  margin-left: 19%;
  padding-top: -0.7%;
}

.switch-design-container button:focus {
  outline: none;
}

.ingreso-referencia-container {
  display: flex;
}

.design-form {
  width: 36%;
  height: 470px;
  background-color: white;
  margin: 15px 0px 0px 37px;
  box-shadow: 4px 0px 15px rgb(235, 235, 235);
  border: 1px solid transparent;
}

.design-form h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.9rem;
  color: #374663;
  margin-left: 30%;
  margin-top: 3%;
}

.border-design-div {
  border-bottom: 1.5px solid #374663;
  width: 90%;
  margin: 0px auto;
  margin-bottom: 4%;
}

.design-form input {
  display: flex;
  margin: 0px auto;
  margin-bottom: 3%;
  width: 90%;
  height: 7%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.75rem;
  padding-left: 3%;
  border: 1px solid #9ba9af;
  color: #9ba9af;
}

.design-form input:focus {
  outline: none;
}

.select-container-design {
  width: 90%;
  margin: 15px auto;
  margin-bottom: -5px;
  margin-top: -2px;
  position: relative;
}

.selected-option-size,
.selected-option {
  background: white;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  border: 1px solid #9ba9af;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.75rem;
  width: 100%;
  height: 30px;
  color: #6f797c;
}

.selected-option-size::after,
.selected-option::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 20px;
  width: 8px;
  height: 8px;
  border-left: 3px solid #1da597;
  border-top: 3px solid #1da597;
  transform: rotate(-135deg);
  transition: all 0.4s ease-in-out;
}

.active .selected-option-size::after,
.active .selected-option::after {
  top: 12px;
  transform: rotate(45deg);
}

.options-container-design {
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
  background: white;
  border-radius: 5px;
  max-height: 240px;
  overflow-y: scroll;
  transform: rotateX(90deg);
  transform-origin: top;
  transition: transform 0.3s ease-in-out;
  color: #9ba9af;
  z-index: 20;
  height: 100px;
}

.options-container-design::-webkit-scrollbar {
  width: 10px;
  background: #e7f7f2;
  border-radius: 0 8px 8px 0;
}

.options-container-design::-webkit-scrollbar-thumb {
  background: #1da597;
  border-radius: 0 5px 5px 0;
}

.active .options-container-design {
  transform: rotateX(0);
}

.option-size-design {
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8rem;
}

.option-design {
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8rem;
}

.option-size-design:hover,
.option-design:hover {
  background: #e7f7f2;
}

.design-form button {
  width: 90%;
  margin-left: 5%;
  height: 7%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8rem;
  margin-top: -0.1%;
}

.design-form button:focus {
  outline: none;
}

.design-form #insumoBTN {
  margin-top: -30%;
}

.design-form #saveBTN {
  background-color: #0ebf87;
  color: white;
  border: 1px solid #007c55;
}

.design-form #saveBTN:hover {
  background-color: rgb(122, 255, 193);
  color: black;
}

.design-form #saveBTN:focus {
  outline: none;
}

.design-form__information {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.7rem;
  width: 90%;
  margin-left: 5%;
  margin-top: -2%;
  margin-bottom: 2%;
}

.insumosAgregados {
  margin-top: 1.2%;
  height: 470px;
  width: 55%;
  margin-left: 3%;
  background-color: transparent;
}

.insumo-add {
  display: flex;
  background-color: white;
  box-shadow: 4px 0px 15px rgb(235, 235, 235);
  height: 7%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.91rem;
  color: #6c818a;
  font-weight: 400;
  padding-left: 27%;
  padding-top: 0.6%;
  margin-bottom: 3%;
  word-spacing: 0.5rem;
}

.insumo-add h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  color: #1da597;
  font-weight: 500;
  margin-right: 5%;
  margin-top: 0.4%;
}

.container_table-design {
  width: 55%;
  background: white;
  margin: 0 auto;
  margin-top: -40px;
  box-shadow: 4px 0px 15px rgb(192, 188, 188);
  display: grid;
  grid-template-columns: repeat(2, 50%);
  overflow-y: scroll;
  max-height: 390px;
  margin-top: 2%;
}

.container_table-design::-webkit-scrollbar {
  width: 8px;
  background: #daf7ee;
  border-radius: 0 8px 8px 0;
}

.container_table-design::-webkit-scrollbar-thumb {
  background: #daf7ee;
  border-radius: 0 3px 3px 0;
}

.table_title-design {
  grid-column-start: 1;
  grid-column-end: 3;
  height: 38px;
  background: #daf7ee;
  color: #1da597;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 1.2em;
}

.search-filter-design {
  grid-column-start: 1;
  grid-column-end: 3;
  padding-left: 2%;
  height: 38px;
  background: white;
  border: 2px solid #daf7ee;
  border-right: 0;
  border-left: 0;
  color: #374663;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

.search-filter-design:focus {
  outline: none;
  border: 2px solid #daf7ee;
  border-right: 0;
  border-left: 0;
}

.table_header-design-sample,
.table_header-design-img,
.table_item-design,
.table_item-design-ref {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table_header-design-sample {
  grid-column-start: 1;
  grid-column-end: 2;
  font-weight: 500;
  font-size: 1em;
  color: #1da597;
  font-family: 'Ubuntu', sans-serif;
  border: 2px solid #daf7ee;
  border-style: hidden hidden solid hidden;
}

.table_header-design-img {
  grid-column-start: 2;
  grid-column-end: 3;
  font-weight: 500;
  font-size: 1em;
  color: #1da597;
  font-family: 'Ubuntu', sans-serif;
  border: 2px solid #daf7ee;
  border-style: hidden hidden solid hidden;
}

.table_item-design,
.table_item-design-ref {
  padding: 10px;
  font-size: 0.9em;
  font-family: 'Ubuntu', sans-serif;
  color: #374663;
}

.table_img-design {
  width: 100px;
  height: 100px;
}

.items_container-design {
  grid-column-start: 1;
  grid-column-end: 3;
  border: 2px solid #daf7ee;
  border-style: hidden hidden solid hidden;
}

.sub_items_container-design {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.sub_sub_items_container-design {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.notfoundImg {
  margin-left: 38%;
}
