.external_options_container {
  display: flex;
  width: 100%;
  height: 120px;
  align-items: center;
  justify-content: center;
}

.options_container {
  display: grid;
  grid-template-columns: 50% 20% 30%;
  grid-template-rows: 120px;
  width: 50%;
  height: 100%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 20px #333;
}

/* .amount_label{ 
    padding-left: 15px;
    padding-right: 15px;
} */

/* INPUT */

.actualAmount {
  width: 70%;
  height: 40%;
}

.select_box_center {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
.select_box_grid_numberinput {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 30% 70%;
  grid-auto-columns: auto;
  font-family: "Poppins", sans-serif;
}

.select_box_flex_numberinput {
  padding-top: 10px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.select_box_flex_titleinput {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
/* h2 {
  margin: 16px;
} */

/* .container {
  padding-left: 10%;
  width: 100%;
}


.select_box {
  display: flex;
  width: 350px;
  flex-direction: column;
} 


.select_box .codes_container {
  background: #1DA597;
  color: #f5f6fa;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 8px;
  overflow: hidden;
  order: 1;
}

.selected {
  background: #1DA597;
  border-radius: 8px;
  margin-bottom: 8px;
  color: #f5f6fa;
  position: relative; 
  order: 0;
}

.selected::after {
  content: "";
  background: url("img/down-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 80%; 
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}

.select_box .codes_container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}

.select_box .codes_container.active + .selected::after {
  transform: rotateX(180  deg);
  top: -6;
}

.select_box .codes_container::-webkit-scrollbar {
  width: 8px;
  background: #414b57;
  border-radius: 0 8px 8px 0;
}

.select_box .codes_container::-webkit-scrollbar-thumb {
  background: #525861;
  border-radius: 0 8px 8px 0;
}

.select_box .option,
.selected { 
  padding: 8px 24px;
  cursor: pointer;
}

.select_box .option:hover {
  background: rgb(111, 219, 205);
}

.select_box label {
  cursor: pointer;
}

.select_box .option .radio {
  display: none;
} */

* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  transform: translateY(-50px);
}

.title {
  font-weight: 700;
  font-size: 1.2rem;
  color: #1da597;
}

.select-container {
  width: 300px;
  margin: 15px auto;
  position: relative;
}

.selected-option {
  background: white;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #1da597;
}

.selected-option::after {
  content: "";
  position: absolute;
  top: 18px;
  right: 18px;
  width: 6px;
  height: 6px;
  border-left: 2px solid black;
  border-top: 2px solid black;
  transform: rotate(-135deg);
  transition: all 0.4s ease-in-out;
}

.active .selected-option::after {
  top: 20px;
  transform: rotate(45deg);
}

.options-container {
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  background: white;
  border-radius: 5px;
  max-height: 240px;
  overflow-y: scroll;
  transform: rotateX(90deg);
  transform-origin: top;
  transition: transform 0.3s ease-in-out;
}

.options-container::-webkit-scrollbar {
  width: 10px;
  background: #e7f7f2;
  border-radius: 0 8px 8px 0;
}

.options-container::-webkit-scrollbar-thumb {
  background: #1da597;
  border-radius: 0 5px 5px 0;
}

.active .options-container {
  transform: rotateX(0);
}

.option {
  padding: 10px 20px;
  cursor: pointer;
}

.option:hover {
  background: #e7f7f2;
}
