.general-container-dressmaking {
  width: 78rem;
}

.general-container-dressmaking__h2 {
  font-size: 1.1rem;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: normal;
  color: #374663;
  margin: 25px 0px 0px 37px;
}

.general-container-dressmaking__p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.9rem;
  color: #9ba9af;
  margin: 12px 0px 0px 37px;
}

.external_options_container {
  display: flex;
  width: 100%;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 0px 7px;
}

.options_container {
  display: flex;
  width: 95%;
  height: 100%;
  background: rgb(255, 255, 255);
  box-shadow: 4px 0px 15px rgb(235, 235, 235);
}

/* INPUT */

.actualAmount {
  width: 70%;
  height: 40%;
}

.select_box_center {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}
.select_box_grid_numberinput {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 30% 70%;
  grid-auto-columns: auto;
  font-family: 'Poppins', sans-serif;
}

.select_box_flex_numberinput {
  padding-top: 10px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.select_box_flex_titleinput {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.references-container {
  /* transform: translateY(-50px); */
  border: 1px solid lightcoral;
  display: flex;
}

.title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  /* color: #1da597; */
  color: #a5bac2;
}

.select-container {
  width: 300px;
  margin: 15px auto;
  position: relative;
}

.selected-option {
  background: white;
  border-radius: 5px;
  padding: 3px 15px;
  cursor: pointer;
  border: 1px solid #1da597;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8rem;
  width: 250px;
  height: 27px;
}

.selected-option::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 18px;
  width: 6px;
  height: 6px;
  border-left: 2px solid black;
  border-top: 2px solid black;
  transform: rotate(-135deg);
  transition: all 0.4s ease-in-out;
}

.active .selected-option::after {
  top: 20px;
  transform: rotate(45deg);
}

.options-container {
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  background: white;
  border-radius: 5px;
  max-height: 240px;
  overflow-y: scroll;
  transform: rotateX(90deg);
  transform-origin: top;
  transition: transform 0.3s ease-in-out;
}

.options-container::-webkit-scrollbar {
  width: 10px;
  background: #e7f7f2;
  border-radius: 0 8px 8px 0;
}

.options-container::-webkit-scrollbar-thumb {
  background: #1da597;
  border-radius: 0 5px 5px 0;
}

.active .options-container {
  transform: rotateX(0);
}

.option {
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8rem;
}

.option:hover {
  background: #e7f7f2;
}
