.general-container-dressmaking {
  width: 100%;
  height: 100vh;
}

.scroll-dressmaking-section {
  height: 93vh;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.scroll-dressmaking-section::-webkit-scrollbar {
  background-color: #f8f9fb;
  width: 16px;
}

.scroll-dressmaking-section::-webkit-scrollbar-track {
  background-color: #f8f9fb;
}

.scroll-dressmaking-section::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #f8f9fb;
}

.scroll-dressmaking-section::-webkit-scrollbar-button {
  display: none;
}

/* NAVBAR */

.navbar-dressmaking {
  height: 55px;
  width: 100%;
  /* background-color: #e7f7f2; */
  background-color: #ffffff;
  border-left: 1px solid rgb(204, 204, 204);
  position: sticky;
  z-index: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 4px 4px 15px rgb(221, 221, 221);
}

.navbar-dressmaking__h2 {
  color: black;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  margin-left: 2em;
  margin-top: 0.7em;
}

.navbar-dressmaking-otpions {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 3em;
}

.tabs-dressmaking {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #f5faf9; */
}

.tabs-dressmaking a  {
  color: black;
  display: block;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.active-tabs-dressmaking {
  border-bottom: 3px solid #00bfa6;
}

.active-tabs-dressmaking a  {
  color: #00bfa6;
  font-weight: 600;
}

.dressmaking-request-container {
  display: flex;
  width: 100%;
  height: 94vh;
}

.dressmaking-request-card {
  width: 36%;
  height: 50%;
  margin-left: 3%;
  margin-top: 10%;
  background-color: white;
  box-shadow: 4px 0px 15px rgb(235, 235, 235);
}

.dressmaking-request-card__h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  margin-top: 3%;
}

.dressmaking-request-form {
  width: 100%;
  height: 70%;
  margin-top: 4%;
}

.filter-dropdown-request-dressmaking {
  width: 90%;
  margin-left: 5%;
}

#actualAmount {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8rem;
  padding-left: 2%;
  outline: none;
  width: 90%;
  height: 15%;
  margin-top: 6%;
  margin-left: 5%;
  border: 1px solid #9ba9af;
  border-radius: 5px;
  outline: none;
}

#actualAmount:focus {
  outline: none;
}

.dressmaking-request-form button {
  width: 90%;
  height: 29px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.9rem;
  margin-left: 5%;
  margin-top: 6%;
}

.ddressmaking-request-form button:focus {
  outline: none;
}

.information-dressmaking-request-container {
  width: 51%;
  margin-left: 6%;
  margin-top: 12.5%;
  height: 40%;
}

.information-dressmaking-request-container__h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
}

.information-dressmaking-request-container__p {
  font-family: 'Ubuntu', sans-serif;
  margin-top: 3%;
  font-size: 1.3rem;
  font-weight: 300;
  color: #000000;
  line-height: 2rem;
}

.filterDropdownDressmaking {
  width: 45%;
  margin-top: -1%;
  margin-left: 3%;
}

.dressmaking-process-container {
  width: 100%;
  height: 94vh;
  background-color: #e7f7f2;
}

.dressmaking-process-container h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
}

.dressmaking-process-container p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  color: black;
}

.no-data-image-approved-req-dressmaking-container {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.no-data-image-approved-req-dressmaking-container__img {
  height: 100%;
}

.no-data-image-approved-req-dressmaking-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  margin-top: 1%;
  margin-left: 3%;
}

.approved-requests-dressmaking-container {
  background-color: #effcf8;
  margin-top: 0.3em;
  margin-left: 1.5%;
  width: 89vw;
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 82%;
  overflow-y: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.approved-requests-dressmaking-container::-webkit-scrollbar {
  background-color: #f8f9fb;
  width: 16px;
}

.approved-requests-dressmaking-container::-webkit-scrollbar-track {
  background-color: #f8f9fb;
}

.approved-requests-dressmaking-container::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #f8f9fb;
}

.approved-requests-dressmaking-container::-webkit-scrollbar-button {
  display: none;
}

.requestDressmakingContainer {
  border: 1px solid transparent;
  margin-top: 1.5%;
  width: 25%;
  height: 45%;
  background-color: white;
  margin-left: 6%;
}

.requestDressmakingContainer__h4 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.95rem;
  margin-left: 4%;
  margin-top: 3%;
}

.requestDressmakingContainer__reference {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.95rem;
  margin-left: 4%;
}

.requestDressmakingContainer__amount {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.95rem;
  margin-left: 4%;
}

.requestDressmakingContainer__timestamp {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.95rem;
  margin-left: 4%;
}

#requestDressmakingContainer__amountInput {
  margin-left: 4%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8;
  padding-left: 1%;
}

#requestDressmakingContainer__amountInput:focus {
  outline: none;
}

.btn.requestDressmakingContainer__accept {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.85rem;
  height: 13%;
  width: 50%;
  background-color: #d1e7dd;
  border: 1px solid #0f5132;
  color: #0f5132;
}

.btn.requestDressmakingContainer__accept:hover {
  background-color: #009751;
  color: white;
}

.btn.requestDressmakingContainer__accept:focus {
  outline: none;
}

.requests-history-section {
  width: 100%;
  height: 94vh;
  background-color: #f8f9fb;
}

.requests-history-section h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
}

.requests-history-section p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  color: #000000;
}

.requets-history-dressmaking-container {
  background-color: #f7fffd;
  margin-left: 1.5%;
  width: 89vw;
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 83%;
  overflow-y: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.requets-history-dressmaking-container::-webkit-scrollbar {
  background-color: #f8f9fb;
  width: 16px;
}

.requets-history-dressmaking-container::-webkit-scrollbar-track {
  background-color: #f8f9fb;
}

.requets-history-dressmaking-container::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #f8f9fb;
}

.requets-history-dressmaking-container::-webkit-scrollbar-button {
  display: none;
}

.label-history-request-dressmanking {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1%;
  background-color: #204363;
  color: white;
  position: sticky;
  top: 0;
}

.label-history-request-dressmanking__number-of-order,
.label-history-request-dressmanking__reference {
  margin-right: 8.2%;
}

.label-history-request-dressmanking__amount {
  margin-left: 4%;
}

.label-history-request-dressmanking__decision {
  margin-left: 13.5%;
}

.label-history-request-dressmanking__timestamp {
  margin-left: 19.5%;
}

.label-history-request-dressmanking__number-of-order {
  margin-left: 5%;
}

.request-card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 1%;
  background-color: #f8f9fb;
}

.request-card-container__order {
  margin-left: 6em;
}

.request-card-container__reference {
  margin-left: 3em;
}

.request-card-container__amount {
  margin-left: 2em;
}

.request-card-container__decision {
  margin-left: 0.5em;
}

.request-card-container__date {
  margin-left: 2em;
}

/* RESPONSIVE */

@media (min-width: 1919px) {
  .dressmaking-request-card {
    height: 32%;
    margin-top: 19em;
    margin-left: 4em;
  }

  .dressmaking-request-card__h2 {
    font-size: 1.4rem;
    margin-top: 1em;
  }

  .information-dressmaking-request-container {
    margin-top: 19.5%;
  }

  .information-dressmaking-request-container__h2 {
    font-size: 1.8rem;
  }

  .information-dressmaking-request-container__p {
    font-size: 1.6rem;
  }

  .dressmaking-process-container h3 {
    font-size: 2rem;
  }

  .no-data-image-approved-req-dressmaking-container {
    margin-top: 4.5%;
  }

  .no-data-image-approved-req-dressmaking-paragraph {
    font-size: 1.6rem;
    margin-top: 1%;
  }

  .requestDressmakingContainer {
    height: 28%;
  }

  .label-history-request-dressmanking__number-of-order,
  .label-history-request-dressmanking__reference {
    margin-right: 12%;
  }

  .label-history-request-dressmanking__number-of-order {
    margin-left: 6%;
  }

  .label-history-request-dressmanking__amount {
    margin-left: 2%;
  }

  .label-history-request-dressmanking__decision {
    margin-left: 16%;
  }

  .label-history-request-dressmanking__timestamp {
    margin-left: 20%;
  }

  .dressmaking-request-form #actualAmount {
    margin-left: 2.5em;
    height: 13%;
    margin-top: 2em;
  }
  .dressmaking-request-form button {
    margin-top: 2em;
  }

  .request-card-container__order {
    margin-left: 9em;
  }
  
  .request-card-container__reference {
    margin-left: 6em;
  }
  
  .request-card-container__amount {
    margin-left: 5em;
  }
  
  .request-card-container__decision {
    margin-left: 3.5em;
  }
  
  .request-card-container__date {
    margin-left: 5em;
  }
}

@media (min-height: 1400px) {
  .dressmaking-request-card {
    height: 50%;
    margin-top: 13%;
  }

  .dressmaking-request-card__h2 {
    font-size: 1.5rem;
    margin-top: 7%;
  }

  .dressmaking-request-form button {
    width: 90%;
    height: 10%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1rem;
    margin-left: 5%;
    margin-top: 6%;
  }

  .information-dressmaking-request-container {
    margin-top: 20%;
  }

  .information-dressmaking-request-container__h2 {
    font-size: 2.4rem;
  }

  .information-dressmaking-request-container__p {
    font-size: 2.2rem;
    line-height: 2.5rem;
  }

  .dressmaking-process-container h3 {
    font-size: 2rem;
  }

  .no-data-image-approved-req-dressmaking-container {
    margin-top: 5.5%;
  }

  .no-data-image-approved-req-dressmaking-paragraph {
    font-size: 1.6rem;
    margin-top: 1%;
  }

  .requestDressmakingContainer {
    height: 24%;
  }

  .requestDressmakingContainer__h4 {
    font-size: 1.1rem;
  }

  .requestDressmakingContainer__reference,
  .requestDressmakingContainer__amount,
  .requestDressmakingContainer__timestamp,
  #requestDressmakingContainer__amountInput {
    font-size: 0.95rem;
  }

  .btn.requestDressmakingContainer__accept {
    width: 60%;
    margin-left: 4%;
  }

  .label-history-request-dressmanking__number-of-order,
  .label-history-request-dressmanking__reference {
    margin-right: 14%;
  }

  .label-history-request-dressmanking__number-of-order {
    margin-left: 7%;
  }

  .label-history-request-dressmanking__amount {
    margin-left: 2%;
  }

  .label-history-request-dressmanking__decision {
    margin-left: 16.5%;
  }

  .label-history-request-dressmanking__timestamp {
    margin-left: 19.5%;
  }
}
