.general-container-home {
  width: 92vw;
  margin-left: 3px;
  height: 91vh;
  border: 1px solid transparent;
}

.general-container-home__h2 {
  font-size: 1.1rem;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: normal;
  color: #374663;
  margin: 20px 0px 0px 37px;
}

.general-container-home__p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.85rem;
  color: #9ba9af;
  margin: 12px 0px 0px 37px;
}

.leaflet-container {
  margin-top: 1%;
  width: 30%;
  height: 30%;
}
