* {
  margin: 0;
  padding: 0;
}

.general-login-container {
  width: 100vw;
  height: 100%;
}

.login-form {
  width: 30%;
  height: 50vh;
  background-color: white;
  margin-top: 11%;
  margin-left: 13%;
  box-shadow: 4px 0px 15px rgb(235, 235, 235);
  border: 1px solid transparent;
}

.login-form h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
  color: #374663;
  margin-left: 43%;
  margin-top: 3%;
}

.login-form .border-div {
  border-bottom: 1.5px solid #374663;
  height: 10px;
  margin-left: 5%;
  width: 90%;
  margin-top: -1%;
}

.login-form input {
  width: 90%;
  height: 13%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.75rem;
  padding-left: 3%;
  border: 1px solid #9ba9af;
  color: #9ba9af;
  margin-left: 5%;
}

.login-form input:focus {
  outline: none;
}

.login-form #username {
  margin-top: 7%;
}
.login-form #password {
  margin-top: 7%;
}

.login-form button {
  width: 90%;
  height: 13%;
  margin-left: 5%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8rem;
  margin-top: 6%;
}

.login-form button:focus {
  outline: none;
}

.img-login-container img {
  position: absolute;
  width: 40vw;
  height: 60vh;
  z-index: 2;
  margin-left: 15%;
  left: 36%;
  top: 17%;
}

.modalLoginh1 {
  font-size: 1rem;
}

.modalLoginImg {
  width: 350px;
  height: 350px;
}
