* {
  margin: 0;
  padding: 0;
}

.general-register-container {
  width: 92.5vw;
  height: 91vh;
}

.img-register-container img {
  position: absolute;
  width: 40vw;
  height: 60vh;
  z-index: 20;
  margin-left: 15%;
  left: 38%;
  top: 25%;
}

.register-form {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  width: 33%;
  height: 55vh;
  background-color: white;
  margin-top: 8.8%;
  margin-left: 13%;
  box-shadow: 4px 0px 15px rgb(235, 235, 235);
  border: 1px solid transparent;
}

.register-form h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.95rem;
  color: #374663;
  margin-left: 32%;
  margin-top: 3%;
}

.register-form .border-div {
  border-bottom: 1.5px solid #374663;
  height: 10px;
  margin-top: -4%;
  margin-left: 5%;
  width: 90%;
}

.register-form input {
  width: 90%;
  height: 75%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.75rem;
  padding-left: 3%;
  border: 1px solid #9ba9af;
  color: #9ba9af;
  margin-top: -9%;
  margin-left: 5%;
}

.register-form input:focus {
  outline: none;
}

.register-form #password {
  margin-top: -7%;
}

.register-form .passwordInfo {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.65rem;
  margin-top: -9%;
  margin-left: 5%;
}

.register-form #validPassword {
  margin-top: -12%;
}

.register-form select {
  width: 90%;
  margin-left: 5%;
  margin-top: -10%;
  height: 75%;
  font-family: 'Ubuntu', sans-serif;
  padding-left: 2%;
  border: 1px solid #9ba9af;
  color: #667076;
  font-weight: 400;
}

.register-form select:focus {
  outline: none;
}

.register-form button {
  width: 90%;
  height: 70%;
  margin-top: -8%;
  margin-left: 5%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8rem;
}

.register-form button:focus {
  outline: none;
}
