.general-container-shops {
  width: 100%;
  height: 100vh;
}

.scroll-shops-section {
  height: 93vh;
  overflow: hidden;
  /* overflow-y: scroll; */
  scroll-behavior: smooth;
}

.scroll-shops::-webkit-scrollbar {
  background-color: #f8f9fb;
  width: 16px;
}

.scroll-shops::-webkit-scrollbar-track {
  background-color: #f8f9fb;
}

.scroll-shops::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #f8f9fb;
}

.scroll-shops::-webkit-scrollbar-button {
  display: none;
}

.navbar-shops {
  height: 55px;
  width: 100%;
  background-color: transparent;
  position: sticky;
  z-index: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 4px 4px 15px rgb(221, 221, 221);
}

.navbar-shops__h2 {
  color: black;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  margin-left: 2em;
  margin-top: 0.7em;
}

.navbar-shops-otpions {
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 3em;
}

.tabs-shops {
  /* border-bottom: 3px solid #00bfa6; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #f5faf9; */
}

.tabs-shops a  {
  color: black;
  display: block;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.active-tabs-shops {
  border-bottom: 3px solid #00bfa6;
}

.active-tabs-shops a  {
  color: #00bfa6;
  font-weight: 600;
}

.shops-request-wp {
  display: flex;
  /* border: 1px solid blue; */
  width: 100%;
  height: 94vh;
}

.makeReqShopsContainer {
  width: 40%;
  height: 50%;
  background-color: white;
  margin-left: 2em;
  margin-top: 9em;
}

.makeReqShopsContainer h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.95rem;
}

.makeReqShopsContainer__dropdownReference {
  width: 90%;
  margin-left: 1.5em;
  margin-top: 1.7em;
}

.makeReqShopsContainer__actualAmount {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.7rem;
  height: 8%;
  padding-left: .9em;
  margin-top: 1.7em;
  width: 90%;
  margin-left: 2em;
  border: 1px solid #a8b4b9;
  border-radius: 1px;
}

.makeReqShopsContainer__dropdownShop {
  width: 90%;
  margin-left: 1.5em;
  margin-top: 1.2em;
}

.makeReqButtonContainer {
  width: 90.4%;
  margin-left: 1.8em;
  height: 9%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8rem;
  margin-top: 1.7em;
}

.makeReqButtonContainer:focus {
  outline: none;
}

.information-shop-request-wp-container {
  width: 51%;
  height: 40%;
  margin-left: 3.5em;
  margin-top: 12.5em;
}

.information-shop-request-wp-container__h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
}

.information-shop-request-wp-container__p {
  font-family: 'Ubuntu', sans-serif;
  margin-top: 0.8em;
  font-size: 1.3rem;
  font-weight: 300;
  color: #000000;
  line-height: 2rem;
}

.active-req-between-shops-section {
  width: 100%;
  height: 94vh;
}

.active-req-between-shops-section__h3 {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5em;
}

.active-req-between-shops-section__p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  color: black;
  /* margin-left: 1.5%; */
  display: flex;
  justify-content: center;
}

.no-data-image-shops-container {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.no-data-image-shops-container__img {
  height: 100%;
}

.no-data-image-shops-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  margin-top: 1%;
  margin-left: 3%;
}

.activeRequestBetweenShopsContainer {
  background-color: rgb(245, 250, 249);
  margin-left: 1.5%;
  width: 89vw;
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 82%;
  overflow-y: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.activeRequestBetweenShopsContainer::-webkit-scrollbar {
  background-color: #f8f9fb;
  width: 16px;
}

.activeRequestBetweenShopsContainer::-webkit-scrollbar-track {
  background-color: #f8f9fb;
}

.activeRequestBetweenShopsContainer::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #f8f9fb;
}

.activeRequestBetweenShopsContainer::-webkit-scrollbar-button {
  display: none;
}

.activeRequestBetweenShopsCard {
  border: 1px solid transparent;
  margin-top: 1.5%;
  width: 25%;
  height: 43%;
  background-color: white;
  margin-left: 6%;
}

.activeRequestBetweenShopsCard__h4 {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.95rem;
  margin-left: 4%;
  margin-top: 3%;
}

.activeRequestBetweenShopsCard__order,
.activeRequestBetweenShopsCard__reference,
.activeRequestBetweenShopsCard__amount,
.activeRequestBetweenShopsCard__shop,
.activeRequestBetweenShopsCard__date,
.activeRequestBetweenShopsCard__address {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.95rem;
  margin-left: 4%;
}

.activeRequestBetweenShopsCard__deploy {
  width: 80%;
  height: 12%;
  font-family: "Ubuntu", sans-serif;
  font-size: 0.8rem;
  margin-left: 4%;
  background-color: #e2e3e5;
  border: 1px solid #41468c;
  color: #41468c;
}

.activeRequestBetweenShopsCard__deploy:hover {
  background-color: #525252;
  color: white;
}

.activeRequestBetweenShopsCard__deploy:focus {
  outline: none;
}

.products-process-shops-section {
  width: 100%;
  height: 94vh;
  background-color: #e8f5f1;
}

.products-process-shops-section__h3 {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.7em;
}

.products-process-shops-section__p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  color: black;
  display: flex;
  justify-content: center;
}

.products-send-shops-section {
  width: 100%;
  height: 94vh;
}

.products-send-shops-section__h3 {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.7em;
}

.products-send-shops-section__p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.95rem;
  color: black;
  display: flex;
  justify-content: center;
}

.reqs-between-shops-section {
  display: flex;
  width: 100%;
  height: 94vh;
  background-color: #e8f5f1;
}

.reqs-between-shops {
  width: 40%;
  height: 50%;
  background-color: white;
  margin-left: 2em;
  margin-top: 9em;
}

.reqs-between-shops h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.95rem;
}

.reqs-between-shops__dropdownReference {
  width: 90%;
  margin-left: 1.5em;
  margin-top: 1.7em;
}

.reqs-between-shops__actualAmount {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.7rem;
  height: 8%;
  padding-left: .9em;
  margin-top: 1.7em;
  width: 90%;
  margin-left: 2em;
  border: 1px solid #a8b4b9;
  border-radius: 1px;
}

.reqs-between-shops__dropdownShop {
  width: 90%;
  margin-left: 1.5em;
  margin-top: 1.2em;
}

.reqs-between-shops-buttonContainer button {
  width: 90%;
  margin-left: 1.8em;
  height: 9%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8rem;
  margin-top: 1.7em;
}

.reqs-between-shops-buttonContainer button:focus {
  outline: none;
}

.information-between-shops-container {
  width: 51%;
  height: 40%;
  margin-left: 3.5em;
  margin-top: 13em;
}

.information-between-shops-container__h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
}

.information-between-shops-container__p {
  font-family: 'Ubuntu', sans-serif;
  margin-top: 0.8em;
  font-size: 1.3rem;
  font-weight: 300;
  color: #000000;
  line-height: 2rem;
}

.external_options_container {
  display: flex;
  width: 100%;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 0px 20px;
}

.options_container {
  display: flex;
  width: 97%;
  height: 47%;
  margin-top: -70px;
  background: rgb(255, 255, 255);
  box-shadow: 4px 0px 15px rgb(235, 235, 235);
}

/* INPUT */

.select_box_center-amount {
  display: flex;
  margin-top: 15px;
}

.select_box_center-amount input {
  width: 180px;
  height: 27px;
  border: 1px solid #9ba9af;
  border-radius: 5px;
  margin-top: -2px;
  padding-left: 10px;
  font-family: 'Ubuntu', sans-serif;
  color: #9ba9af;
}

.select_box_center-amount input:focus {
  outline: none;
}

.select_box_center-amount .title {
  margin-left: -3%;
}

.actualAmount {
  width: 150px;
  height: 40%;
}

.select_box_center-reference {
  margin-left: 130px;
  margin-top: 15px;
}

.references-container {
  display: flex;
  width: 120%;
  margin-left: -13%;
}

.references-container .title {
  margin-right: 0;
}

.title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  color: #1da597;
  margin-right: 8%;
  margin-left: 5%;
}

.select-container {
  width: 300px;
  margin: 15px auto;
  margin-top: -2px;
  position: relative;
}

.selected-option-shops,
.selected-option-shopsinfo {
  background: white;
  border-radius: 5px;
  padding: 3px 15px;
  cursor: pointer;
  border: 1px solid #9ba9af;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8rem;
  width: 250px;
  height: 27px;
  color: #9ba9af;
}

.selected-option-shops::after,
.selected-option-shopsinfo::after {
  content: '';
  position: absolute;
  top: 8px;
  right: 60px;
  width: 7px;
  height: 7px;
  border-left: 2px solid #1da597;
  border-top: 2px solid #1da597;
  transform: rotate(-135deg);
  transition: all 0.4s ease-in-out;
}

.active .selected-option-shops::after,
.active .selected-option-shopsinfo::after {
  top: 12px;
  transform: rotate(45deg);
}

.options-container {
  position: absolute;
  top: 28px;
  left: 0;
  width: 84%;
  background: white;
  border-radius: 5px;
  max-height: 240px;
  overflow-y: scroll;
  transform: rotateX(90deg);
  transform-origin: top;
  transition: transform 0.3s ease-in-out;
  color: #9ba9af;
}

.options-container::-webkit-scrollbar {
  width: 10px;
  background: #e7f7f2;
  border-radius: 0 8px 8px 0;
}

.options-container::-webkit-scrollbar-thumb {
  background: #1da597;
  border-radius: 0 5px 5px 0;
}

.active .options-container {
  transform: rotateX(0);
}

.option,
.option-shopsinfo {
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8rem;
}

.option:hover,
.option-shopsinfo::hover {
  background: #e7f7f2;
}

@media (min-width: 1919px) {
  .activeRequestBetweenShopsCard {
    height: 29%;
  }

  .makeReqShopsContainer {
    width: 40%;
    height: 37%;
    background-color: white;
    margin-left: 2em;
    margin-top: 18em;
  }

  .makeReqShopsContainer h4 {
    margin-top: 2.7em;
    font-size: 1.1rem;
  }

  .makeReqShopsContainer__dropdownReference,
  .makeReqShopsContainer__dropdownShop {
    margin-left: 2em;
  }

  .makeReqShopsContainer #actualAmount {
    margin-left: 2.8em;
  }

  .makeReqButtonContainer {
   margin-left: 1.9rem;
  }

  .information-shop-request-wp-container {
    width: 51%;
    height: 40%;
    margin-left: 3.5em;
    margin-top: 22em;
  }

  .information-shop-request-wp-container__h2 {
    font-size: 2rem;
  }

  .information-shop-request-wp-container__p {
    font-size: 1.8rem;
  }

  /* #actualAmount {
    margin-left: 2em; 
  } */

  .reqs-between-shops__dropdownReference,
  .reqs-between-shops__dropdownShop {
    margin-left: 2rem;
  }

  .reqs-between-shops #actualAmount {
    margin-left: 1.9rem;
  }

  .reqs-between-shops-buttonContainer {
    height: 9%;
  }

  .reqs-between-shops-buttonContainer button {
    margin-left: 1.9rem;
    height: 100%;
  }
  
  .products-process-shops-section__h3 {
    padding-top: 1.3em;
    font-size: 2em;
  }

  .products-process-shops-section__p {
    font-size: 1.2rem;
  }

  .products-send-shops-section__h3 {
    padding-top: 1.3em;
    font-size: 2em;
  }

  .products-send-shops-section__p {
    font-size: 1.2rem;
  }

  .reqs-between-shops {
    height: 40%;
    margin-top: 18em;
  }

  .reqs-between-shops h4 {
    font-size: 1.2rem;
    margin-top: 2em;
  }

  .information-between-shops-container {
    width: 51%;
    height: 40%;
    margin-left: 3.5em;
    margin-top: 22em;
  }

  .information-between-shops-container__h2 {
    font-size: 2rem;
  }

  .information-between-shops-container__p {
    font-size: 1.8rem;
  }

  .active-req-between-shops-section__h3 {
    padding-top: 1em;
  }

}

