.general-container-shops {
  width: 100%;
}

.scroll-shops {
  height: 83vh;
  overflow: hidden;
  overflow-y: scroll;
  /* border: 1px solid red; */
  scroll-behavior: smooth;
}

.scroll-shops::-webkit-scrollbar {
  background-color: #f8f9fb;
  width: 16px;
}

.scroll-shops::-webkit-scrollbar-track {
  background-color: #f8f9fb;
}

.scroll-shops::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #f8f9fb;
}

.scroll-shops::-webkit-scrollbar-button {
  display: none;
}

.navbar-shops {
  height: 50px;
  width: 100%;
  background-color: #43a799;
  position: sticky;
  z-index: 2000;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-shops__h2 {
  color: #f8f8f8;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  margin-left: 3%;
  margin-top: 1%;
}

.navbar-shops-otpions {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 3em;
}

.navbar-shops-otpions a {
  color: #f8f8f8;
  font-family: 'Ubuntu', sans-serif;
}

.navbar-shops-otpions a:hover {
  color: black;
}

.shops-request-wp {
  display: flex;
  /* border: 1px solid blue; */
  width: 100%;
  height: 83vh;
}

.makeReqShopsContainer {
  width: 40%;
  height: 50%;
  background-color: white;
  margin-left: 2em;
  margin-top: 9em;
}

.makeReqShopsContainer h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.7em;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.95rem;
}

.makeReqShopsContainer__dropdownReference {
  width: 90%;
  margin-left: 1.5em;
  margin-top: 1.7em;
}

.makeReqShopsContainer #actualAmount {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.7rem;
  height: 10%;
  padding-left: .9em;
  margin-top: 1.7em;
}

.makeReqShopsContainer__dropdownShop {
  width: 90%;
  margin-left: 1.5em;
  margin-top: 1.2em;
}

.makeReqButtonContainer {
  width: 90%;
  margin-left: 1.8em;
  height: 9%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8rem;
  margin-top: 1.7em;
}

.makeReqButtonContainer:focus {
  outline: none;
}

.information-shop-request-wp-container {
  width: 51%;
  height: 40%;
  margin-left: 3.5em;
  margin-top: 12em;
}

.information-shop-request-wp-container__h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
}

.information-shop-request-wp-container__p {
  font-family: 'Ubuntu', sans-serif;
  margin-top: 0.8em;
  font-size: 1.3rem;
  font-weight: 300;
  color: #000000;
  line-height: 2rem;
}

.products-process-shops-section {
  width: 100%;
  height: 83vh;
  background-color: #e8f5f1;
}

.products-finished-warehouseproducts-section__h3 {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-send-shops-section {
  width: 100%;
  height: 83vh;
}

.products-send-shops-section__h3 {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.external_options_container {
  display: flex;
  width: 100%;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 0px 20px;
}

.options_container {
  display: flex;
  width: 97%;
  height: 47%;
  margin-top: -70px;
  background: rgb(255, 255, 255);
  box-shadow: 4px 0px 15px rgb(235, 235, 235);
}

/* INPUT */

.select_box_center-amount {
  display: flex;
  margin-top: 15px;
}

.select_box_center-amount input {
  width: 180px;
  height: 27px;
  border: 1px solid #9ba9af;
  border-radius: 5px;
  margin-top: -2px;
  padding-left: 10px;
  font-family: 'Ubuntu', sans-serif;
  color: #9ba9af;
}

.select_box_center-amount input:focus {
  outline: none;
}

.select_box_center-amount .title {
  margin-left: -3%;
}

.actualAmount {
  width: 150px;
  height: 40%;
}

.select_box_center-reference {
  margin-left: 130px;
  margin-top: 15px;
}

.references-container {
  display: flex;
  width: 120%;
  margin-left: -13%;
}

.references-container .title {
  margin-right: 0;
}

.title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  color: #1da597;
  margin-right: 8%;
  margin-left: 5%;
}

.select-container {
  width: 300px;
  margin: 15px auto;
  margin-top: -2px;
  position: relative;
}

.selected-option-shops,
.selected-option-shopsinfo {
  background: white;
  border-radius: 5px;
  padding: 3px 15px;
  cursor: pointer;
  border: 1px solid #9ba9af;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8rem;
  width: 250px;
  height: 27px;
  color: #9ba9af;
}

.selected-option-shops::after,
.selected-option-shopsinfo::after {
  content: '';
  position: absolute;
  top: 8px;
  right: 60px;
  width: 7px;
  height: 7px;
  border-left: 2px solid #1da597;
  border-top: 2px solid #1da597;
  transform: rotate(-135deg);
  transition: all 0.4s ease-in-out;
}

.active .selected-option-shops::after,
.active .selected-option-shopsinfo::after {
  top: 12px;
  transform: rotate(45deg);
}

.options-container {
  position: absolute;
  top: 28px;
  left: 0;
  width: 84%;
  background: white;
  border-radius: 5px;
  max-height: 240px;
  overflow-y: scroll;
  transform: rotateX(90deg);
  transform-origin: top;
  transition: transform 0.3s ease-in-out;
  color: #9ba9af;
}

.options-container::-webkit-scrollbar {
  width: 10px;
  background: #e7f7f2;
  border-radius: 0 8px 8px 0;
}

.options-container::-webkit-scrollbar-thumb {
  background: #1da597;
  border-radius: 0 5px 5px 0;
}

.active .options-container {
  transform: rotateX(0);
}

.option,
.option-shopsinfo {
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8rem;
}

.option:hover,
.option-shopsinfo::hover {
  background: #e7f7f2;
}

@media (min-width: 1919px) {
  .makeReqShopsContainer {
    width: 40%;
    height: 40%;
    background-color: white;
    margin-left: 2em;
    margin-top: 18em;
  }

  .information-shop-request-wp-container {
    width: 51%;
    height: 40%;
    margin-left: 3.5em;
    margin-top: 24em;
  }

  #actualAmount {
    margin-left: 2em;
  }
  
}

