.general-container-bodega {
  width: 79rem;
  margin-left: 3px;
}

.general-container-bodega__h2 {
  font-size: 1.1rem;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: normal;
  color: #374663;
  margin: 20px 0px 0px 37px;
}

.general-container-bodega__p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.85rem;
  color: #9ba9af;
  margin: 12px 0px 0px 37px;
}

.body-bodega-information {
  display: flex;
}

.bodega-form {
  width: 33%;
  height: 470px;
  background-color: white;
  margin: 15px 0px 0px 37px;
  box-shadow: 4px 0px 15px rgb(235, 235, 235);
  border: 1px solid transparent;
}

.bodega-form h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.9rem;
  color: #374663;
  margin-left: 22%;
  margin-top: 3%;
}

.bodega-form .border-div {
  border-bottom: 1.5px solid #374663;
  width: 90%;
  margin: 0px auto;
  margin-bottom: 4%;
}

.bodega-form input {
  display: flex;
  margin: 0px auto;
  margin-bottom: 5%;
  width: 90%;
  height: 7%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.75rem;
  padding-left: 3%;
  border: 1px solid #9ba9af;
  color: #9ba9af;
}

.bodega-form input:focus {
  outline: none;
}

.bodega-form .descriptionInput {
  padding-top: -20px;
  height: 10%;
}

.select-container-bodega, .select-update-inventory {
  width: 90%;
  margin: 15px auto;
  margin-top: -2px;
  position: relative;
}

.selected-option-bodega, .selected-update-inventory {
  background: white;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  border: 1px solid #9ba9af;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.75rem;
  width: 100%;
  height: 30px;
  color: #6f797c;
}

.selected-option-bodega::after, .selected-update-inventory::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 20px;
  width: 8px;
  height: 8px;
  border-left: 3px solid #1da597;
  border-top: 3px solid #1da597;
  transform: rotate(-135deg);
  transition: all 0.4s ease-in-out;
}

.active-bodega .selected-option-bodega::after, .active-bodega .selected-update-inventory::after {
  top: 12px;
  transform: rotate(45deg);
}

.options-container-bodega, .options-update-inventory {
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
  background: white;
  border-radius: 5px;
  max-height: 240px;
  overflow-y: scroll;
  transform: rotateX(90deg);
  transform-origin: top;
  transition: transform 0.3s ease-in-out;
  color: #9ba9af;
  z-index: 20;
}

.options-container-bodega::-webkit-scrollbar, .options-update-inventory::-webkit-scrollbar {
  width: 10px;
  background: #e7f7f2;
  border-radius: 0 8px 8px 0;
}

.options-container-bodega::-webkit-scrollbar-thumb, .options-update-inventory::-webkit-scrollbar-thumb {
  background: #1da597;
  border-radius: 0 5px 5px 0;
}

.active-bodega .options-container-bodega, .active-bodega .options-update-inventory {
  transform: rotateX(0);
}

.option-bodega, .option-update-inventory{
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.75rem;
}

.option-bodega:hover, .option-update-inventory:hover {
  background: #e7f7f2;
}

.bodega-form button {
  width: 90%;
  margin-left: 5%;
  height: 7%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8rem;
  margin-top: -0.1%;
}

.bodega-form button:focus {
  outline: none;
}

.bodega-inventory {
  background-color: white;
  box-shadow: 4px 0px 15px rgb(235, 235, 235);
  display: flex;
  height: 50px;
  width: 750px;
  margin-left: 2%;
  margin-top: 1%;
}

.bodega-inventory h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.85rem;
  color: #374663;
  margin-top: 2.5%;
  margin-left: 9%;
}

.bodega-inventory button {
  height: 25px;
  width: 20%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.7rem;
  margin-left: 5%;
  margin-top: 1.6%;
}

.bodega-inventory button:focus {
  outline: none;
}

.container_table-bodega {
  position: absolute;
  width: 55%;
  background: white;
  margin: 0 auto;
  margin-top: -40px;
  box-shadow: 4px 0px 15px rgb(192, 188, 188);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-y: scroll;
  max-height: 500px;
  height: 390px;
  z-index: 30;
  top: 250px;
  left: 580px;
}

.container_table-bodega::-webkit-scrollbar {
  width: 8px;
  background: #daf7ee;
  border-radius: 0 8px 8px 0;
}

.container_table-bodega::-webkit-scrollbar-thumb {
  background: #daf7ee;
  border-radius: 0 3px 3px 0;
}

.table_title-bodega {
  grid-column-start: 1;
  grid-column-end: 3;
  height: 38px;
  background: #daf7ee;
  color: #1da597;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 1.2em;
}

.table_header-bodega,
.table_item-bodega {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table_header-bodega {
  font-weight: 500;
  font-size: 1em;
  color: #1da597;
  font-family: 'Ubuntu', sans-serif;
  border: 2px solid #daf7ee;
  border-style: hidden hidden solid hidden;
}

.table_item-bodega {
  padding: 10px;
  font-size: 0.9em;
  font-family: 'Ubuntu', sans-serif;
  color: #374663;
}

.table_img-bodega {
  width: 100px;
  height: 100px;
}

.items_container-bodega {
  grid-column-start: 1;
  grid-column-end: 3;
  border: 2px solid #daf7ee;
  border-style: hidden hidden solid hidden;
}

.sub_items_container-bodega {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.sub_sub_items_container-bodega {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.modal-bodega-form {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.7rem;
  border: 1px solid #374663;
  background-color: #7d8eaf;
  border-radius: 5px;
  width: 90%;
  margin: 0px auto;
  height: 30px;
  padding-left: 3%;
  padding-top: 1%;
}

.modal-bodega-form p {
  color: #ffffff;
  font-weight: bold;
}
