.general-container-warehouseproducts {
  width: 92.5vw;
  height: 91vh;
  margin-left: -0.1%;
  border: 1px solid transparent;
}

.scroll-warehouseproducts {
  height: 83vh;
  overflow: hidden;
  overflow-y: scroll;
  /* border: 1px solid red; */
  scroll-behavior: smooth;
}

.scroll-warehouseproducts::-webkit-scrollbar {
  background-color: #f8f9fb;
  width: 16px;
}

.scroll-warehouseproducts::-webkit-scrollbar-track {
  background-color: #f8f9fb;
}

.scroll-warehouseproducts::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #f8f9fb;
}

.scroll-warehouseproducts::-webkit-scrollbar-button {
  display: none;
}

.navbar-warehouseproducts {
  height: 50px;
  width: 100%;
  background-color: #43a799;
  position: sticky;
  z-index: 2000;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-warehouseproducts__h2 {
  color: #f8f8f8;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  margin-left: 3%;
  margin-top: 1%;
}

.navbar-warehouseproducts-otpions {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 5%;
}

.navbar-warehouseproducts-otpions a {
  color: #f8f8f8;
  font-family: 'Ubuntu', sans-serif;
}

.navbar-warehouseproducts-otpions a:hover {
  color: black;
}

.products-warehouseproducts-section {
  width: 100%;
  height: 83vh;
}

.products-finished-warehouseproducts-section__h3 {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TABLE */

.container_table-warehouseproducts {
  width: 55%;
  background: white;
  margin: 0 auto;
  margin-top: -40px;
  box-shadow: 4px 0px 15px rgb(192, 188, 188);
  height: 415px;
  margin-top: 2%;
}

.table_title-warehouseproducts {
  height: 38px;
  background: #daf7ee;
  color: #1da597;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 1.2em;
}

.search-warehouseproducts-container {
  display: flex;
  height: 40px;
  background-color: #fae5dd;
}

.gg-search {
  color: #404040;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 15px;
  height: 15px;
  border: 2px solid;
  border-radius: 100%;
  margin-left: 10px;
  margin-top: 10px;
}
.gg-search::after {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  height: 8px;
  background: currentColor;
  transform: rotate(-45deg);
  top: 10px;
  left: 12px;
}

.search-filter-warehouseproducts {
  padding-left: 2%;
  height: 40px;
  width: 98%;
  background: #fae5dd;
  border: 0;
  color: #404040;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

.search-filter-warehouseproducts:focus {
  outline: none;
  border-right: 0;
  border-left: 0;
}

.search-filter-warehouseproducts::-webkit-input-placeholder {
  color: #404040;
}

.sample-image-warehouseproducts-container {
  display: flex;
  width: 100%;
}

.table_header-warehouseproducts-sample {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table_header-warehouseproducts-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table_header-warehouseproducts-sample {
  font-weight: 500;
  font-size: 1em;
  color: #1da597;
  font-family: 'Ubuntu', sans-serif;
  border: 2px solid #daf7ee;
  border-style: hidden hidden solid hidden;
}

.table_header-warehouseproducts-img {
  font-weight: 500;
  font-size: 1em;
  color: #1da597;
  font-family: 'Ubuntu', sans-serif;
  border: 2px solid #daf7ee;
  border-style: hidden hidden solid hidden;
}

.scroll-modal-warehouseproducts {
  width: 100%;
  overflow-y: hidden;
  overflow-y: scroll;
  max-height: 310px;
}

.scroll-modal-warehouseproducts::-webkit-scrollbar {
  width: 8px;
  background: #daf7ee;
  border-radius: 0 8px 8px 0;
}

.scroll-modal-warehouseproducts::-webkit-scrollbar-thumb {
  background: #daf7ee;
  border-radius: 0 3px 3px 0;
}

.items_container-warehouseproducts {
  display: flex;
  width: 100%;
}

.items-information-wproducts-container {
  width: 50%;
  height: 50%;
  margin-bottom: 1%;
}

.items-information-wp-lot {
  margin-left: 30%;
}

.items-information-wp-ref {
  margin-left: 30%;
}

.items-information-wp-order {
  margin-left: 27%;
}

.items-information-amount {
  margin-left: 38%;
}

.items-information-timestamp {
  margin-left: 25%;
}

.table_item-warehouseproduct {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table_img-warehouseproduct {
  width: 100px;
  height: 100px;
}

.notfoundImg-warehouseproducts {
  margin-left: 20%;
}

#handleInfoModal {
  font-size: 0.78rem;
  width: 65%;
  height: 50%;
  margin-left: 20%;
}

/* FINAL TABLE */

.productsContainer {
  border: 1px solid transparent;
  margin-left: 3%;
  width: 85vw;
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.productCard {
  border: 1px solid transparent;
  margin-top: 1.5%;
  width: 25%;
  height: 25%;
  background-color: white;
  margin-left: 6%;
}

.productCard__h4 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.95rem;
  margin-left: 4%;
  margin-top: 3%;
}

.productCard__lot,
.productCard__reference,
.productCard__Order,
.productCard__amount,
.productCard__date {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.95rem;
  margin-left: 4%;
}

.shops-request-warehouseproducts-section {
  height: 45%;
  height: 83vh;
  background-color: #e7f7f2;
}

.shops-request-warehouseproducts-section__h3 {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-data-image-warehouseproducts-container {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.no-data-image-warehouseproducts-container__img {
  height: 100%;
}

.no-data-image-warehouseproducts-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  margin-top: 1%;
  margin-left: 3%;
}

.shopsRequestContainer {
  background-color: rgb(245, 250, 249);
  margin-top: 1%;
  margin-left: 1.5%;
  width: 89vw;
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 85%;
  overflow-y: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.shopsRequestContainer::-webkit-scrollbar {
  background-color: #f8f9fb;
  width: 16px;
}

.shopsRequestContainer::-webkit-scrollbar-track {
  background-color: #f8f9fb;
}

.shopsRequestContainer::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #f8f9fb;
}

.shopsRequestContainer::-webkit-scrollbar-button {
  display: none;
}

.shopRequestCard {
  border: 1px solid transparent;
  margin-top: 1.5%;
  width: 25%;
  height: 49%;
  background-color: white;
  margin-left: 6%;
}

.shopRequestCard__h4 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.95rem;
  margin-left: 4%;
  margin-top: 3%;
}

.shopRequestCard__order,
.shopRequestCard__reference,
.shopRequestCard__amount,
.shopRequestCard__shop,
.shopRequestCard_date,
.shopRequestCard__address {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.95rem;
  margin-left: 4%;
}

.shopRequestCard__deploy {
  width: 80%;
  height: 12%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8rem;
  margin-left: 4%;
  background-color: #e2e3e5;
  border: 1px solid #41468c;
  color: #41468c;
}

.shopRequestCard__deploy:hover {
  background-color: #525252;
  color: white;
}

.shopRequestCard__deploy:focus {
  outline: none;
}

.shopRequestCard__refuse {
  width: 80%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8rem;
  margin-left: 10%;
  background-color: #f8d7da;
  border: 1px solid #842029;
  color: #842029;
}

.shopRequestCard__refuse:hover {
  background-color: rgb(253, 76, 76);
  color: white;
}

.shopRequestCard__refuse:focus {
  outline: none;
}

.shopRequestCard__approve {
  width: 80%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8rem;
  margin-left: 10%;
  background-color: #d1e7dd;
  border: 1px solid #0f5132;
  color: #0f5132;
}

.shopRequestCard__approve:hover {
  background-color: #009751;
  color: white;
}

.shopRequestCard__approve:focus {
  outline: none;
}

/* RESPONSIVE */

@media (min-height: 1075px) {
  .general-container-warehouseproducts {
    margin-left: -2.5%;
  }

  .shopRequestCard {
    height: 32%;
  }

  .products-finished-warehouseproducts-section__h3 {
    margin-top: 2%;
  }

  .container_table-warehouseproducts {
    height: 650px;
    margin-top: 4%;
  }

  .scroll-modal-warehouseproducts {
    max-height: 500px;
  }
}

@media (min-height: 1400px) {
  .general-container-warehouseproducts {
    margin-left: -3.8%;
  }

  .shopRequestCard {
    height: 27%;
  }

  .products-finished-warehouseproducts-section__h3 {
    margin-top: 2%;
  }

  .container_table-warehouseproducts {
    height: 750px;
    margin-top: 4%;
  }

  .scroll-modal-warehouseproducts {
    max-height: 600px;
  }
}
