.products-warehouseproducts-section {
  width: 100%;
  height: 83vh;
}

.products-finished-warehouseproducts-section__h3 {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_table-shops {
  width: 55%;
  background: white;
  margin: 0 auto;
  margin-top: -40px;
  box-shadow: 4px 0px 15px rgb(192, 188, 188);
  height: 500px;
  margin-top: 2%;
}

.table_title-shops {
  height: 38px;
  background: white;
  color: #1da597;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
}

.search-shops-container {
  display: flex;
  height: 40px;
  background-color: #daf7ee;
}

.gg-search {
  color: #404040;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 15px;
  height: 15px;
  border: 2px solid;
  border-radius: 100%;
  margin-left: 10px;
  margin-top: 10px;
}
.gg-search::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  height: 8px;
  background: currentColor;
  transform: rotate(-45deg);
  top: 10px;
  left: 12px;
}

.search-filter-shops {
  padding-left: 2%;
  height: 40px;
  width: 98%;
  background: #daf7ee;
  border: 0;
  color: #404040;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}

.search-filter-shops:focus {
  outline: none;
  border-right: 0;
  border-left: 0;
}

.search-filter-shops::-webkit-input-placeholder {
  color: #404040;
}

.sample-image-shops-container {
  display: flex;
  width: 100%;
}

.table_header-shops-sample {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1em;
  color: #1da597;
  font-family: "Ubuntu", sans-serif;
  border: 2px solid #daf7ee;
  border-style: hidden hidden solid hidden;
}

.table_header-shops-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1em;
  color: #1da597;
  font-family: "Ubuntu", sans-serif;
  border: 2px solid #daf7ee;
  border-style: hidden hidden solid hidden;
}

.scroll-modal-shops {
  width: 100%;
  overflow-y: hidden;
  overflow-y: scroll;
  max-height: 390px;
}

.scroll-modal-shops::-webkit-scrollbar {
  width: 8px;
  background: #daf7ee;
  border-radius: 0 8px 8px 0;
}

.scroll-modal-shops::-webkit-scrollbar-thumb {
  background: #daf7ee;
  border-radius: 0 3px 3px 0;
}

.items_container-shops {
  display: flex;
  width: 100%;
}

.items-information-shops-container {
  width: 50%;
  height: 50%;
  margin-bottom: 1%;
}

.items-information-shops__lot,
.items-information-shops__ref,
.items-information-shops__order,
.items-information-shops__amount,
.items-information-shops__timestamp {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: center;
}

.items-information-shops-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.items-information-shops__button {
  font-family: 'Ubuntu';
  font-size: 0.7rem;
  width: 50%;
}

.table_item-shops {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table_img-shops {
  width: 100px;
  height: 100px;
}

.notfoundImg-shops {
  margin-left: 20%;
}

#handleInfoModal {
  font-size: 0.78rem;
  width: 65%;
  height: 50%;
  margin-left: 20%;
}

@media (min-width: 1919px) {
  .container_table-shops {
    height: 650px;
  }

  .scroll-modal-shops {
    max-height: 540px;
  }
  
  .items-information-shops__button {
    width: 45%;
  }
}
